body {
    background-color: #A7CFED;
    overflow: hidden;
}
header {
    position: relative;
    z-index: 10;
}
a {
    color: #554CDB;
    text-decoration: none;
}
nav {
    display: flex;
    gap: 20px;
    justify-content: right;
}
nav a {
    cursor: pointer;
    text-decoration: none;
}
.textos-principales
{
    opacity: 1;
    transform: rotate(0deg);
    color: #4F32B7;
    text-align: center;
    z-index: 2;
}
.subtitulo-texto
{
    color: #4C71DB;
}
.texto-intro
{
    color: #ffffff;
    background-color: #4C71DB;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}
.Circulo-Fondo
{
    width: 50vw;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    bottom: -250px;
    background-color: #4C71DB;
    left: 50%;
    transform: translateX(-50%);
}
.contenedor-tarjetas {
    display: flex;
    gap: 40px;
    justify-content: center;
}
.tarjeta {
    cursor: pointer;
    background-color: #ffffff;
    padding: 0px;
    margin-left: 0%;
    margin-right: 0%;
    border-radius: 10px;
    display: inline-block;
    width: 300px;
    height: 400px;
    text-align: center;
}
.tarjeta h3{
    font-size: 22px;
    margin-top: 15px;
}
.tarjeta p{
    font-size: 16px;
    margin-top: 10px;
}
.tarjeta img {
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    display: block;
}
.seccion-rueda {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform-origin: bottom;
    opacity: 0;
    transform: rotate(90deg);
    z-index: 1;
}
.textos-principales {
    opacity: 1;
    transform: rotate(0deg);
    z-index: 2;
}
.estado-pasado {
    transform-origin: bottom left;
    transform: rotate(-90deg);
    opacity: 0;
    z-index: 1;
}
.estado-actual {
    transform: rotate(0deg);
    opacity: 1;
    z-index: 5;
}
.estado-futuro {
    transform-origin: bottom right;
    transform: rotate(90deg);
    opacity: 0;
    z-index: 1;
}
.blogpost
{
    background-color: #ffffff;
    padding: 20px;
    width: 750px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 20px;
    flex-direction: row;
    display: flex;
}
.blogpost img
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 20px;
    object-fit: cover;
    display: block;
}
.blogcontent
{
    flex-direction: column;
    display: flex;
}
.redsocial
{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.redsocial-entrada
{
    cursor: pointer;
    justify-content: left;
    text-align: center;
    flex-direction: column;
    display: flex;
}
.redsocial-entrada img
{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 20px;
    object-fit: cover;
    display: block;
}
.informacion
{
    padding: 50px;
    flex-direction: column;
    display: flex;
}
.infobloque
{
    gap: 50px;
    flex-direction: row;
    display: flex;
}
.infoprincipal
{
    flex-direction: column;
    display: flex;
}