@import url(blocks/header/header.css);
@import url(blocks/circle/circle.css);
@import url(blocks/body/body.css);
@import url(blocks/First_window/first_window.css);
@import url(blocks/proyectos/proyectos.css);
@import url(blocks/animations/animations.css);

.sobre-mi, .blog, .contacto
{
    padding: 50px 0px;
}

.sobre-mi h2, .blog h2, .contacto h2 {
    color: #4F32B7;
    margin-bottom: 20px;
}

.blogpost
{
    background-color: #ffffff;
    padding: 20px;
    width: 750px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 20px;
    flex-direction: row;
    display: flex;
}
.blogpost img
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 20px;
    object-fit: cover;
    display: block;
}
.blogcontent
{
    flex-direction: column;
    display: flex;
}
.redsocial
{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.redsocial-entrada
{
    cursor: pointer;
    justify-content: left;
    text-align: center;
    flex-direction: column;
    display: flex;
}
.redsocial-entrada img
{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 20px;
    object-fit: cover;
    display: block;
}
.informacion
{
    flex-direction: column;
    display: flex;
}
.infobloque
{
    gap: 50px;
    padding-top: 0px;
    padding-bottom: 20px;
    flex-direction: row;
    display: flex;
}
.infoprincipal
{
    margin: 0;
    flex-direction: column;
    display: flex;
}
.infoprincipal h3
{
    color: #4F32B7;
    display: inline-block;
    max-width: 200px;
}
.infotarjeta
{
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    text-overflow: ellipsis;
    max-width: 250px;
    max-height: 225px;
    min-height: auto;
}
.infotarjeta p
{
    text-align: left;
    padding: 20px;
    padding-top: 0px;
    font-size: 14px;
}
.infotarjeta h3
{
    color: black;
}
.infobloque img
{
    width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 25%;
    object-fit: cover;
    display: block;
}