body {
    background-color: #A7CFED;
    overflow: hidden;
    font-family: "Helvetica";
}
header {
    position: relative;
    z-index: 10;
}
a {
    color: #554CDB;
    text-decoration: none;
}
nav {
    display: flex;
    gap: 20px;
    justify-content: right;
}
nav a {
    cursor: pointer;
    text-decoration: none;
}
.textos-principales
{
    opacity: 1;
    transform: rotate(0deg);
    color: #4F32B7;
    text-align: center;
    z-index: 2;
}
.textos-principales, .proyectos, .sobre-mi, .blog, .contacto
{
    padding: 50px 0px;
}
.textos-principales h1, .textos-principales h2
{
    font-weight: bold;
}
.subtitulo-texto
{
    color: #4C71DB;
}
.texto-intro
{
    text-align: left;
    color: #ffffff;
    background-color: #4C71DB;
    padding: 25px;
    border-radius: 10px;
    display: inline-block;
    text-overflow: ellipsis;
    max-width: 200px;
}
.Circulo-Fondo
{
    width: 100vw;
    height: 450px;
    border-radius: 50%;
    position: absolute;
    bottom: -250px;
    background-color: #4C71DB;
    left: 50%;
    transform: translateX(-50%);
}
.contenedor-tarjetas {
    display: flex;
    gap: 40px;
    justify-content: center;
}
.proyectos h2, .sobre-mi h2, .blog h2, .contacto h2 {
    color: #4F32B7;
    margin-bottom: 20px;
}
.tarjeta {
    cursor: pointer;
    background-color: #ffffff;
    padding: 0px;
    margin-left: 0%;
    margin-right: 0%;
    border-radius: 10px;
    display: inline-block;
    width: 300px;
    height: auto;
    text-align: center;
    text-overflow: ellipsis;
}
.tarjeta h3{
    font-size: 22px;
    margin-left: 20px;
    margin-right: 20px;
}
.tarjeta p{
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
}
.tarjeta img {
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    display: block;
}
.seccion-rueda {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform-origin: bottom;
    opacity: 0;
    transform: rotate(90deg);
    z-index: 1;
}
.textos-principales {
    opacity: 1;
    transform: rotate(0deg);
    z-index: 2;
}
.estado-pasado {
    transform-origin: bottom left;
    transform: rotate(-90deg);
    opacity: 0;
    z-index: 1;
}
.estado-actual {
    transform: rotate(0deg);
    opacity: 1;
    z-index: 5;
}
.estado-futuro {
    transform-origin: bottom right;
    transform: rotate(90deg);
    opacity: 0;
    z-index: 1;
}
.blogpost
{
    background-color: #ffffff;
    padding: 20px;
    width: 750px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 20px;
    flex-direction: row;
    display: flex;
}
.blogpost img
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 20px;
    object-fit: cover;
    display: block;
}
.blogcontent
{
    flex-direction: column;
    display: flex;
}
.redsocial
{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.redsocial-entrada
{
    cursor: pointer;
    justify-content: left;
    text-align: center;
    flex-direction: column;
    display: flex;
}
.redsocial-entrada img
{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 20px;
    object-fit: cover;
    display: block;
}
.informacion
{
    flex-direction: column;
    display: flex;
}
.infobloque
{
    gap: 50px;
    padding-top: 0px;
    padding-bottom: 20px;
    flex-direction: row;
    display: flex;
}
.infoprincipal
{
    margin: 0;
    flex-direction: column;
    display: flex;
}
.infoprincipal h3
{
    color: #4F32B7;
    display: inline-block;
    max-width: 200px;
}
.infotarjeta
{
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    text-overflow: ellipsis;
    max-width: 250px;
    max-height: 225px;
    min-height: auto;
}
.infotarjeta p
{
    text-align: left;
    padding: 20px;
    padding-top: 0px;
    font-size: 14px;
}
.infotarjeta h3
{
    color: black;
}
.infobloque img
{
    width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 25%;
    object-fit: cover;
    display: block;
}
.nav-link.activo {
    background-color: #4C71DB;
    color: white !important;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 12px;
    transition: all 0.3s ease;
}

nav a {
    padding: 5px;
    border: 1px solid transparent; 
}