.info
{
    flex-direction: column;
    display: flex;
}
.info__seccion
{
    gap: 50px;
    padding-top: 0px;
    padding-bottom: 20px;
    flex-direction: row;
    display: flex;
}
.info__principal
{
    margin: 0;
    flex-direction: column;
    display: flex;
}
.info__principal__titulo
{
    color: #4F32B7;
    display: inline-block;
    max-width: 200px;
}
.info__tarjeta
{
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    text-overflow: ellipsis;
    max-width: 250px;
    max-height: 225px;
    min-height: auto;
}
.info__tarjeta__p
{
    text-align: left;
    padding: 20px;
    padding-top: 0px;
    font-size: 14px;
}
.info__tarjeta__h3
{
    color: black;
}
.info__img
{
    width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 25%;
    object-fit: cover;
    display: block;
}
.info__tarjeta {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra predeterminada al contenedor */
    transition: transform 0.3s ease, box-shadow 0.3s ease, outline 0.3s ease, outline-offset 0.3s ease, opacity 0.3s ease;
    position: relative;
}

.info__tarjeta:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(79, 50, 183, 0.2);
    outline: 2px solid #4F32B7;
    outline-offset: 4px;
    z-index: 10;
}

.info__tarjeta__relegated {
    transform: scale(0.95);
    opacity: 0.5;
}