.sobre-mi
{
    padding: 50px 0px;
}

.blog h2{
    color: #4F32B7;
    margin-bottom: 20px;
}
.blogpost
{
    background-color: #ffffff;
    padding: 20px;
    width: 750px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 20px;
    flex-direction: row;
    display: flex;
}
.blogpost img
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 20px;
    object-fit: cover;
    display: block;
}
.blogcontent
{
    flex-direction: column;
    display: flex;
}